[submodule "admin/ReduxFramework"]
	path = admin/ReduxFramework
	url = https://github.com/ReduxFramework/ReduxFramework.git
[submodule "rps/components/easyDigitalDownloads"]
	path = rps/components/easyDigitalDownloads
	url = git@github.com:redpixelstudios/rps-component-edd.git
[submodule "rps/components/reduxFramework"]
	path = rps/components/reduxFramework
	url = git@github.com:redpixelstudios/rps-component-redux-framework.git
[submodule "rps/components/wpUtilities"]
	path = rps/components/wpUtilities
	url = git@github.com:redpixelstudios/rps-component-wp-utilities.git
[submodule "rps/components/fontManager"]
	path = rps/components/fontManager
	url = git@github.com:redpixelstudios/rps-component-fonts.git
